<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css">
    <title>Edit person</title>
</head>
<body>

<!-- Person edition -->
<form id="edit-form" action="edit.html">
    <h1>Person Info:</h1>

    <div class="row">
        <label>ID:&nbsp;</label>
        <span>1</span>
    </div>

    <div class="row">
        <label>Name:&nbsp;</label>
        <span>John Doe</span>
    </div>

    <div class="row">
        <button type="submit">Save</button>
    </div>
</form>
<script type="text/javascript" src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>
